@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

//variables
$color-primary: #000000;
$color-sceondary: #ffffff;
$spacer: 10px !default;
$spacers: () !default;
$color-theme: () !default;

$color-theme: map-merge((
    'primary':$color-primary,
    'secondary':$color-sceondary,
),$color-theme);

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .8),
    2: ($spacer * 3.2),
    3: ($spacer * 4),
    4: ($spacer * 7.2)
  ),
  $spacers
);
$fontSize: (
    0:0,
    1:($spacer * 1.6),
    2:($spacer * 3.6),
    3:($spacer * 7.2),
    4:($spacer * 9)
);

//utilities
@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {
      .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
      .#{$abbrev}t-#{$size}{
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}r-#{$size}{
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}b-#{$size}{
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}l-#{$size}{
        #{$prop}-left: $length !important;
      }
    }
}

@each $theme,$color in $color-theme {
    .bg-#{$theme}{
        background-color: #{$color} !important;
    }
    .text-#{$theme}{
        color: #{$color} !important;
    }
}

@each $size,$length in $fontSize {
    .font-size-#{$size}{
        font-size: #{$length} !important;
    }
}

//mixin
//格線
@mixin makegrid($col){
    flex: 0 0 (100% * $col);
    max-width: 100% * $col;
    padding: 8px;
}
@mixin container($width,$height){
    width: $width;
    height: $height;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #E5E5E5;
}

//容器
.container{
    @include container(540px,651px);
}
.worldClock{
    border-top: #000000 10px solid;
    border-bottom: #000000 10px solid;
}
@import 'autocomplete';


//格線
.grid{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
@for $col from 1 to 6 {
    .grid-#{$col}{
        @include makegrid($col / 5)
    }
}
.w-100{
    width: 100%;
}


//layout
.d-flex{
    display: flex; 
}
.flex-row{
    flex-direction:row;
    flex-wrap:wrap;
}
.flex-column{
    flex-direction:column;
    flex-wrap:wrap;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-content: center;
}
.align-items-around{
    align-content: space-around;
}
.align-items-between{
    align-content: space-between;
}
.postion-relative{
    position: relative;
}
.postion-absolute{
    position: absolute;
}

.text-right{
    text-align: right !important;
}
.text-center{
    text-align: center !important;
}
.border{
    border: 1px solid #000;
}